{% extends "layout.html.twig" %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}

{% block body %}
    <div class="card-comments-section">
        <h3>Comments for card "{{ card.name }}"</h3>
        {% if card.isArchived %}
            <p style="color: red;">ARCHIVED</p>
        {% endif %}
        {% set comments = card.comments %}
        {% if comments|length > 0 %}
            {% for comment in comments %}
                <div class="comment" id="comment{{ comment.id }}">
                    <div class="left">
                        <h4>{{ comment.user.username }}</h4>
                    </div>
                    <div class="right">
                        <p>{{ comment.content }}</p>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="alert alert-info">
                <h4 class="alert-heading">{{ 'Info' }}</h4>
                {{ 'There is no comments'|trans }}
            </div>
        {% endif %}

        {% include ':Comment:_createForm.html.twig' %}

    </div>
{% endblock %}
