{% extends "layout.html.twig" %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% from 'SyliusResourceBundle:Macros:actions.html.twig' import create %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/pages/board.css') }}" media="screen"/>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/pages/board.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="page-header">
        <div class="actions-menu pull-right">
            {{ buttons.create(path('app_board_create'), 'Add Board') }}
        </div>
        <h1><i class="glyphicon glyphicon-cog"></i> {{ 'Boards' }}</h1>
    </div>

    {# display all user boards #}
    {% set board_section_name = 'My boards' %}
    {% set organization_id = 0 %}
    {% set boards = user.getAvailableBoards %}
    {% include ':Board:_boardSection.html.twig' %}

    {# display all organization's boards #}
    {% for organization in user.organizations %}
        {% set board_section_name = organization.name %}
        {% set organization_id = organization.id %}
        {% set boards = organization.getAvailableBoards %}
        {% include ':Board:_boardSection.html.twig' %}
    {% endfor %}

{% endblock %}
