{% extends "layout.html.twig" %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% from 'SyliusResourceBundle:Macros:actions.html.twig' import update %}
{% block javascripts %}
  {{ parent() }}
    <script>
      $('.icon-save').addClass('icon-ok');
    </script>
{% endblock %}

{% block body %}
    <div class="page-header">
        <div class="actions-menu pull-right">
            {% if board.isArchived %}
                <p style="color: red;">ARCHIVED</p>
                {{ buttons.create(path('app_board_unarchive', {'id': board.id}), 'Unarchive') }}
            {% else %}
                {{ buttons.create(path('app_board_archive', {'id': board.id}), 'Archive') }}
            {% endif %}
        </div>
    </div>
    <form action="{{ path('app_board_update', {'id': board.id}) }}" method="post" class="form-horizontal app_board_update" >
        <h3>{{ 'Edit Board' }}</h3>
        {{ form_errors(form) }}
        <input type="hidden" name="_method" value="PUT">
        {% include ':Board:_form.html.twig' %}
        {{ update() }}
    </form>
{% endblock %}
