{% extends "layout.html.twig" %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/pages/board-list.css') }}" media="screen"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/pages/board-list.js') }}"></script>
{% endblock %}

{% block containerClasses %}background-{{ board.color }}{% endblock %}

{% block body %}
    <div class="page-header">
        <div class="actions-menu pull-right">
            {{ buttons.create(path('app_board_list_create', {'boardId': board.id}), 'Add list') }}
        </div>
        <h1><i class="glyphicon glyphicon-cog"></i> {{ board.name }}</h1>
    </div>
    <div class="board-lists">
        {% for list in board_lists %}
            <a class="list" id="id{{ list.id }}">
                <h2 style="float: left;">
                    {{ list.name }}
                    <span>+
                        <span>
                            <span data-href="{{ path('app_board_list_update', {'boardId': board.id, 'id': list.id}) }}" class="edit-list-event">Edit list</span>
                            <span class="delete-list-event">Delete list</span>
                        </span>
                    </span>
                </h2>
              <span class="card-list">
                  {% for card in list.cards %}
                      {% include ':Card:_shortDetails.html.twig' %}
                  {% endfor %}
              </span>
                <span class="show-card-add-event">Add a card...<input placeholder="The card content"></span>
                {#<a href="{{ path('app_card_create', {'boardId': board.id, 'boardListId': list.id}) }}">NEW CARD</a>#}
            </a>
        {% endfor %}
    </div>
    <div class="board-list new" id="boardlist-add-event">
        <h2 style="float: left;">Add a list...</h2>

        <div class="pop-up">
            <h3>Create List<span id="popup-close-event">x</span></h3>
            <input placeholder="Name" type="text" id="new-board-list-name" class="input-lg" required="required"
                   name="name">
            <div>
                <button class="btn btn-primary btn-lg" id="new-board-list-event"><i class="icon-ok"></i> Create</button>
                <a class="btn btn-danger btn-lg" href=""><i class="icon-remove"></i> Cancel</a>
            </div>
        </div>
    </div>
{% endblock %}
