{% extends "layout.html.twig" %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% from 'SyliusResourceBundle:Macros:actions.html.twig' import update %}
{% block javascripts %}
  {{ parent() }}
    <script>
      $('.icon-save').addClass('icon-ok');
    </script>
{% endblock %}

{% block body %}
    <div class="page-header">
        <div class="actions-menu pull-right">
            {% if board_list.isArchived %}
                <p style="color: red;">ARCHIVED</p>
                {{ buttons.create(path('app_board_list_unarchive', {'boardId': board_list.board.id, 'id': board_list.id}), 'Unarchive') }}
            {% else %}
                {{ buttons.create(path('app_board_list_archive', {'boardId': board_list.board.id, 'id': board_list.id}), 'Archive') }}
            {% endif %}
        </div>
    </div>
    <form action="{{ path('app_board_list_update', {'boardId': board_list.board.id, 'id': board_list.id}) }}" method="post" class="form-horizontal app_board_list_update" >
        <h3>{{ 'Edit list' }}</h3>
        {{ form_errors(form) }}
        <input type="hidden" name="_method" value="PUT">
        {% include ':BoardList:_form.html.twig' %}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary btn-lg"><i class="icon-save"></i> {{ 'sylius.save_changes'|trans }}</button>
            <a href="{{ path('app_board_show', {'boardId': board_list.board.id}) }}" class="btn btn-danger btn-lg"><i class="icon-remove"></i> {{ 'sylius.cancel'|trans }}</a>
        </div>
    </form>
{% endblock %}
